In [6]:
#TABELA DO USUARIO MESMO POSTAL CODE
#DATA (DATA)
#LOCAL (POSTAL CODE, LOG, LAT)
#BEER (SUBRAND)
#TTC (SUBSTITUIR POR PRECO/ML)
#DATA | POSTAL CODE | LOG | LAT | SUBRAND | TTC
#SUBSTITUICOES : TTC-> PRECO POR ML
#     TIRAR POSTAL CODE (todos da tabela
#vao ser do mesmo)


#
#      ESSE PROGRAMA CONVERTE CSV EM MYSQL
#

#--------------------------------------------------------------------------------------------


import pandas as pd

#colocar qualquer csv para transforma-lo em mySQL
#precisa ser delimitado por ,

empdata = pd.read_csv(r'tabela_ambev_sql.csv',index_col=False, delimiter=',')
empdata.head()

import mysql.connector as msql

from mysql.connector import Error
try:
    conn = msql.connect(host='127.0.0.1', database = 'db_usuario',
                              user='root', passwd='joaoeduardomiguel') #123
     
    if conn.is_connected(): #123
        cursor = conn.cursor() #123
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("database ativa: ", record)
        table_name = 'user_table'
        cursor.execute(f'DROP TABLE IF EXISTS {table_name};')
        print('criando tabela ...')
# MySQL COMANDOS 

        # corrigir type 
        cursor.execute(f'''CREATE TABLE {table_name}(Doc_Date varchar(255),
                       Postal_Code INT,Sous_groupement varchar(255),Subrand varchar(255),
                       Latitude varchar(255),Longitude varchar(255),TTC varchar(255))''')
        
        
        print("tabela criada")
        print("preenchendo tabela ...")

        #LOOP DATAFRAME
        for i,row in empdata.iterrows():
            #%s -> string (trocar para type correto da coluna)
            
            sql = '''INSERT INTO db_usuario.user_table VALUES 
            (%s,%s,%s,%s,%s,%s,%s)'''
            
            cursor.execute(sql, tuple(row))
            #print("data inserida")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit() #123
except Error as e:
            print("Error - nao foi possivel conectar com o servidor", e)

print("programa finalizado")

database ativa:  ('db_usuario',)
criando tabela ...
tabela criada
preenchendo tabela ...
programa finalizado